# MiniRazz controller for the Unicomp Mini M keyboard configuration

# Copyright (c) 2021-2023 Pete Johanson, Andrei Purdea
# SPDX-License-Identifier: Apache-2.0

if BOARD_MINIRAZZ

config ZMK_KEYBOARD_NAME
	default "MiniRazz"

config RP2_FLASH_W25Q080
	default y

config BOARD
	default "minirazz"

config ZMK_KSCAN_MATRIX_POLLING
	default y
	# Needed because the parallel-input shift register makes it not possible to use interrupts

endif # BOARD_MINIRAZZ
